node_modules/react-native-worklets/android/build/intermediates/cxx/Debug/g642b35z/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-worklets/android/build/intermediates/cxx/Debug/g642b35z/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-worklets/android/build/intermediates/cmake/debug/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-worklets/android/build/intermediates/cmake/debug/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-gesture-handler/android/build/intermediates/cxx/Debug/624bq4u2/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-gesture-handler/android/build/intermediates/cxx/Debug/624bq4u2/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-screens/android/build/intermediates/cxx/Debug/44l38y5q/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-screens/android/build/intermediates/cxx/Debug/44l38y5q/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cxx/Debug/4n6q3k5m/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cxx/Debug/4n6q3k5m/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cmake/debug/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cmake/debug/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/expo-modules-core/android/build/intermediates/cxx/Debug/5d3g1b46/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/expo-modules-core/android/build/intermediates/cxx/Debug/5d3g1b46/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.alt.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/nvshmem/lib/libnvshmem_host.so.3 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cusparselt/lib/libcusparseLt.so.0 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cusparse/lib/libcusparse.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cufft/lib/libcufft.so.11 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/curand/lib/libcurand.so.10 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublasLt.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublas.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolverMg.so.11 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolver.so.11 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libnvrtc.alt.so.13 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcusparse.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcusolver.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libnvrtc.so.13 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcusolverMg.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcurand.so.10 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcublasLt.so.13 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/cu13/lib/libcufft.so.12 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2 filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.so filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda.so filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda_linalg.so filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/_polars_runtime_32/_polars_runtime.abi3.so filter=lfs diff=lfs merge=lfs -text
japano_v41/.venv/lib/python3.12/site-packages/triton/_C/libtriton.so filter=lfs diff=lfs merge=lfs -text
android/app/build/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/cxx/Debug/18t6v525/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/cxx/Debug/18t6v525/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-worklets/android/build/intermediates/cxx/Debug/3e6a1u5s/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-worklets/android/build/intermediates/cxx/Debug/3e6a1u5s/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-gesture-handler/android/build/intermediates/cxx/Debug/3l5j10x2/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-gesture-handler/android/build/intermediates/cxx/Debug/3l5j10x2/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-screens/android/build/intermediates/cxx/Debug/6f6e596z/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-screens/android/build/intermediates/cxx/Debug/6f6e596z/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cxx/Debug/1m311e5p/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/react-native-reanimated/android/build/intermediates/cxx/Debug/1m311e5p/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/expo-modules-core/android/build/intermediates/cxx/Debug/4k3a1l18/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
node_modules/expo-modules-core/android/build/intermediates/cxx/Debug/4k3a1l18/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/cxx/Debug/5o2c36x2/obj/arm64-v8a/libreactnative.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/cxx/Debug/5o2c36x2/obj/x86_64/libreactnative.so filter=lfs diff=lfs merge=lfs -text
